@{
    ViewBag.Title = "ICP Monitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
    {
    <script type="text/javascript">
        function textFormat(value) {
            return '<a href\'javascript:void(0)\' class=\'datalist-link\'>' + value + '</a>';
        }

        function goPanel(index, row) {
            $('#p2-title').html(row.text);
            $.mobile.go('#p2');
        }
    </script>
}
<div class="easyui-navpanel">
    <ul class="easyui-datalist" data-options="fit:true,lines:true,border:false">
        <li>@Html.ActionLink("Server Info", "ServerInfo", "Performance")</li>
        <li>@Html.ActionLink("ICP Service", "ICPServices", "Performance")</li>
        <li>@Html.ActionLink("Operation Log", "OperationLog", "Performance")</li>
    </ul>
</div>
<div id="p2" class="easyui-navpanel">
    <header>
        <div class="m-toolbar">
            <span id="p2-title" class="m-title">Detail</span>
            <div class="m-left">
                <a href="javascript:void(0)" class="easyui-linkbutton m-back" plain="true" outline="true" style="width:50px" onclick="$.mobile.back()">Back</a>
            </div>
        </div>
    </header>
    <div style="margin:50px 0 0;text-align:center">
        <a href="javascript:void(0)" class="easyui-linkbutton" style="width:100px;height:30px" onclick="$.mobile.back()">Go Back</a>
    </div>
</div>
