<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="CrawlerSQLDB" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.99.68,3344;Initial Catalog=CSP;User ID=CSPUser;pwd=LongwinCsp@053551" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="CrawlerSQLDB" />
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WHServiceBehavior">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Cityocean.Crawl.ServerComponents.WebCrawlerService">
        <endpoint binding="webHttpBinding" address="http://localhost:80/cityOceanService/WebCrawlerService" behaviorConfiguration="WHServiceBehavior" bindingConfiguration="webBinding"
          contract="Cityocean.Crawl.ServiceInterface.IWebCrawlerService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error,Warning" propagateActivity="true">
        <listeners>
          <add name="txt" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="txt" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="txt" type="System.Diagnostics.TextWriterTraceListener" initializeData="WebCrawler.log" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
</configuration>
