<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="ICP3" providerName="System.Data.SqlClient" connectionString="server=.;database=ICP3;user id=sa;Pwd=DATABASE;integrated security=true;Trusted_Connection=false;Connect Timeout=10;Application Name=ICPFileSystem" />
    <add name="CSP" providerName="System.Data.SqlClient" connectionString="Data Source=ICP.CITYOCEAN.COM,3344;Initial Catalog=CSP;User ID=CSPUser;pwd=LongwinCsp@053551;integrated security=true;Trusted_Connection=false;Connect Timeout=10;Application Name=ICPFileSystem" />
    <add name="SYNCICP3" providerName="System.Data.SqlClient" connectionString="server=69.75.63.93,3344;database=ICP3;user id=ICP3;Pwd=LONGWINicp@1124;integrated security=true;Trusted_Connection=false;Connect Timeout=10;Application Name=ICP" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="ICP3"/>
  <appSettings>
    <add key="PropagateContext" value="false" />
    <add key="ApplicationName" value="ICPFileSystem.exe" />
    <add key="serviceNameSpace" value="www.cityocean.com" />
    <add key="sessionRequestServices" value="ISqlDataSynchronizationService" />
    <add key="CompressionSize" value="500" />
    <add key="serviceBaseAddress" value="http://localhost:8088/cityOceanService" />
    <add key="TTUrl" value="ftp://ftp.inttraworks.inttra.cn/outbound/IFTSTA/" />
    <add key="BookingConfirmUrl" value="ftp://ftp.inttraworks.inttra.cn/outbound/IFTMBC/" />
    <add key="AmsNum" value="1793" />
    <add key="IsAotoStart" value="1" />
    <add key="WorldBookingConfirmUrl" value="ftp://ftp.cvt.inttra.com/outbound/" />
    <add key="WorldUserID" value="c0336143" />
    <add key="WorldPassword" value="wQlGDjoC" />
    <add key="AdministratorEmail" value="moremo@cityocean.com" />
    <add key="SITimeOut" value="30" />
    <add key="SITimeOutToUser" value="60" />
    <add key="SOTimeOut" value="30" />
    <add key="SOTimeOutToUser" value="60" />
    <add key="DOCTimeOut" value="15" />
    <add key="DOCTimeOutToUser" value="30" />
    <add key="VGMTimeOut" value="30" />
    <add key="VGMTimeOutToUser" value="60" />
    <add key="AMSTimeOut" value="30" />
    <add key="AMSTimeOutToUser" value="60" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="HostBinding" closeTimeout="00:05:00" openTimeout="00:04:00"
          receiveTimeout="00:05:00" sendTimeout="00:05:00" transferMode="Streamed"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10000"
          maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="ICP.FileSystem.ServiceComponent.FileSystemService">
        <endpoint address="net.tcp://www.cityocean.com:8089/cityOceanService/FileSystemService" binding="netTcpBinding"
          bindingConfiguration="HostBinding" name="EndPoint" contract="ICP.FileSystem.ServiceInterface.IFileSystemService" />
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Error"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="IcpFileSystem.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>