<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlConnectionString" providerName="System.Data.SqlClient" connectionString="server=192.168.0.15,3344;database=ICP3;user id=sa;Pwd=longwin;integrated security=true;Trusted_Connection=false;"/>
  </connectionStrings>
  <appSettings>
   <!-- <add key="fileRootPath" value="E:\FTPServer\EMail"/>-->
    <add key="fileRootPath" value="E:\学习资料"/>
    
  </appSettings>
</configuration>