<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="ICP2005" connectionString="server=192.168.99.105,1433;database=ICP;user id=sa;Pwd=longwin;integrated security=true;Trusted_Connection=false;"
      providerName="System.Data.SqlClient" />
    <add name="ICP.FCM.OceanExport.ServiceInterface.Properties.Settings.ICPConnectionString"
      connectionString="Data Source=192.168.99.105;Initial Catalog=ICP;User ID=sa;Password=longwin"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="ICP2005"/>
</configuration>