<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logFileName" value="sendlog.txt"/>
    <add key="logFilePath" value="C:\abc"/>
    <add key="serviceNameSpace" value="www.cityocean.com"/>
    <add key="serviceBaseAddress"  value="http://localhost:80/cityOceanService"/>
    <add key="tcpServiceBaseAddress"  value="net.tcp://localhost:8087/cityOceanService"/>
    <add key="ApplicationName" value="ICPMain.exe"/>
    <add key="UpdateApplicationName" value="ICPUpdate.exe"/>
    <add key="TcpServiceNameSpace" value="www.cityocean.com"/>
    <!-- 需要Session模式的服务类型名称，服务名以逗号隔开，区分大小写-->
    <add key="sessionRequestServices" value="ISqlDataSynchronizationService"/>
    <!-- 压缩阈值，以KB为单位 为方便测试，测试时以B为单位-->
    <add key="CompressionSize" value="500"/>
    
  </appSettings>
  
</configuration>

