<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="ClientBinding" closeTimeout="00:05:00" receiveTimeout="00:05:00"
                    sendTimeout="00:05:00" transferMode="Streamed" maxBufferPoolSize="1048576"
                    maxBufferSize="1048576" maxConnections="10000" maxReceivedMessageSize="1048576000"
                    portSharingEnabled="true">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1/server" binding="netTcpBinding"
                bindingConfiguration="ClientBinding" contract="ICPwcfInterface.Interface"
                name="EndPoint" />
        </client>
    </system.serviceModel>
</configuration>