<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ICP3.MailStoring.Properties.Settings.ICP3ConnectionString" connectionString="Data Source=CNDB.CITYOCEAN.COM,3344;Initial Catalog=ICP3;Persist Security Info=True;User ID=icp3;Password=longwin" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NewMailFolder" value="C:\testimap\new" />
    <add key="RecordedMailFolder" value="C:\testimap\rec" />
    <add key="RecordSaveMailSchedule" value="10" />
    <add key="RemoveOlderMailSchedule" value="23:00" />
    <add key="ExpiredMail" value="20" />
    <add key="BatchUpload" value="20" />
    <add key="BackupFolder" value="c:\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>