<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="castle"   type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <castle>
    <properties></properties>
    <facilities></facilities>
    <components>
      <component id="IDataCacheOperationService" service="ICP.DataCache.ServiceInterface.IDataCacheOperationService,ICP.DataCache.ServiceInterface"
                 type="ICP.DataCache.LocalOperation.DataCacheOperationService,ICP.DataCache.LocalOperation" wcfServiceHost="true"/>
      <component id="ILocalBusinessCacheDataOperation" service="ICP.DataCache.ServiceInterface.ILocalBusinessCacheDataOperation,ICP.DataCache.ServiceInterface"
                 type="ICP.DataCache.LocalOperation.LocalBusinessCacheDataOperation,ICP.DataCache.LocalOperation" wcfServiceHost="true"/>
      <component id="ILocalBusinessContactService" service="ICP.DataCache.ServiceInterface.ILocalBusinessContactService,ICP.DataCache.ServiceInterface"
                 type="ICP.DataCache.LocalOperation.LocalBusinessContactService,ICP.DataCache.LocalOperation" wcfServiceHost="true"/>
    </components>
  </castle>
  <appSettings>
    <add key="serviceBaseAddress" value="http://192.168.0.165:80/cityOceanService" />
    <add key="tcpServiceBaseAddress" value="net.tcp://192.168.0.165:8087/cityOceanService" />
    <add key="ApplicationName" value="ICPDataCache.exe"/>
    <add key="serviceNameSpace" value="www.cityocean.com"/>
    <add key="TcpServiceNameSpace" value="www.cityocean.com"/>
    <!-- 需要流式传输的服务类型名称，服务名以逗号隔开，区分大小写-->
    <add key="streamedRequestServices" value=""/>
    <add key="sessionRequestServices" value="ISqlDataSynchronizationService"/>
    <!-- 压缩阈值，以KB为单位 为方便测试，测试时以B为单位-->
    <add key="CompressionSize" value="500"/>
    <add key="InternalDomain"  value="cityocean.com,topshipping.com.vn,harvest.com,longwin.net,harvest-logistic.com,cityocean.net,topshipping.cn,topshipping.com.my,mandarinlc.com"/>
    <add key="ICPHostServiceBaseAddress" value="net.pipe://localhost/LocalService"/>
    <add key="EmailCenterHostServiceBaseAddress" value="net.pipe://localhost/EmailCenterService"/>
    <add key="DataCacheHostServiceBaseAddress" value="net.pipe://localhost/DataCacheService"/>
    <add key="PropagateContext" value="false"/>
    <add key="TableNamesNeedUpdateData" value="OperationViewOECache"/>
    <add key="FilterModules" value="ICP.DataOperation.SqlCE.dll,ICP.DataCache.LocalOperation.dll,ICP.DataCache.LocalServiceComponent.dll"/>
    <add key="BatchBackupMailDataTimer" value="25" />
    <add key="SyncCacheDataTimer" value="10" />
    <add key="BatchUploadRelationDataTimer" value="4.91" />
    <add key="BatchUploadOperationLogDataTimer" value="30" />
  </appSettings>
  <system.web>
    <globalization culture="zh-CN" uiCulture="zh-CN"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="1000000" executionTimeout="1800"/>
  </system.web>
  <system.serviceModel>
    <services>
      <!--Data Cache-->
      <service name="ICP.DataCache.LocalOperation.DataCacheOperationService" behaviorConfiguration="maxInObjectGraphicsServiceBehavior">
        <endpoint address="net.pipe://localhost/DataCacheService/DataCacheOperationService" binding="netNamedPipeBinding" bindingConfiguration="netPipeBingConfig"
                  contract="ICP.DataCache.ServiceInterface.IDataCacheOperationService"/>
      </service>
      <service name="ICP.DataCache.LocalOperation.LocalBusinessCacheDataOperation" behaviorConfiguration="maxInObjectGraphicsServiceBehavior">
        <endpoint address="net.pipe://localhost/DataCacheService/LocalBusinessCacheDataOperation" binding="netNamedPipeBinding" bindingConfiguration="netPipeBingConfig"
                  contract="ICP.DataCache.ServiceInterface.ILocalBusinessCacheDataOperation"/>
      </service>
      <service name="ICP.DataCache.LocalOperation.LocalBusinessContactService" behaviorConfiguration="maxInObjectGraphicsServiceBehavior">
        <endpoint address="net.pipe://localhost/DataCacheService/LocalBusinessContactService" binding="netNamedPipeBinding" bindingConfiguration="netPipeBingConfig"
                  contract="ICP.DataCache.ServiceInterface.ILocalBusinessContactService"/>
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netPipeBingConfig" sendTimeout="00:04:00" receiveTimeout="10:00:00" openTimeout="00:04:00" closeTimeout="00:04:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas  maxDepth="600000"  maxStringContentLength="2147483600" maxArrayLength="800010000" maxBytesPerRead="4096" maxNameTableCharCount="88888888" />
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="maxInObjectGraphicsServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceThrottling  maxConcurrentInstances="1000" maxConcurrentCalls="1000" maxConcurrentSessions="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="90000000" ignoreExtensionDataObject="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="999999999" maxSizeOfMessageToLog="999999999"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Error"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "DataCacheTrace.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>