<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileServerUrl" value="http://127.0.0.1:11/ICPFiles.zip" />
    <add key="WebSiteUrl" value="http://culture.cityocean.com:6688/index.aspx" />
    <add key="EnableNls" value="true" />
    <add key="serviceBaseAddress" value="http://192.168.0.15:80/cityOceanService" />
    <add key="tcpServiceBaseAddress" value="net.tcp://192.168.0.15:8087/cityOceanService" />
    <add key="ApplicationName" value="ICPMain.exe" />
    <add key="UpdateApplicationName" value="ICPUpdate.exe" />
    <add key="serviceNameSpace" value="www.cityocean.com" />
    <add key="TcpServiceNameSpace" value="www.cityocean.com" />
    <add key="streamedRequestServices" value="" />
    <add key="sessionRequestServices" value="ISqlDataSynchronizationService" />
    <add key="CompressionSize" value="500" />
    <add key="InternalDomain" value="cityocean.com,topshipping.com,harvest.com" />
    <add key="ICPHostServiceBaseAddress" value="net.pipe://localhost/LocalService" />
    <add key="EmailCenterHostServiceBaseAddress" value="net.pipe://localhost/EmailCenterService" />
    <add key="EmailCenterName" value="ICPMailCenter.exe" />
    <add key="PropagateContext" value="true" />
    <add key="FilterModules" value="ICP.MailCenter.UI.dll,ICP.MailCenter.Business.UI.dll" />
    <add key="FilePreviewServiceName" value="ICP.FilePreviewService.exe"/>
    <add key="TempFilesDir" value="TempFiles" />
    <add key="ClassName" value="30495d1_r11_ad1" />
  </appSettings>
</configuration>