<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ICP.WF.Controls.Properties.Settings.ICP2005ConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=ICP2005;Persist Security Info=True;User ID=sa;Password=longwinnewworld"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>