<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="HostBinding" closeTimeout="00:05:00" openTimeout="00:04:00"
          receiveTimeout="00:05:00" sendTimeout="00:05:00" transferMode="Streamed"
          maxBufferPoolSize="1048576" maxBufferSize="1048576" maxConnections="10000"
          maxReceivedMessageSize="1048576000" portSharingEnabled="true">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="ICPwcfServer.Server">
        <endpoint address="net.tcp://127.0.0.1:8087/cityOceanService" binding="netTcpBinding"
          bindingConfiguration="HostBinding" name="EndPoint" contract="ICPwcfInterface.Interface" />
      </service>
    </services>
  </system.serviceModel>
</configuration>