<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ICP.OA.ServiceComponent.Properties.Settings.ICPConnectionString"
            connectionString="Data Source=192.168.99.105;Initial Catalog=ICP;User ID=sa;Password=longwin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>